.header {
  display: block;
  color: white;

  @include rule(background, (xl: rgba($color-brown, .5), lg: $color-brown-1));
  @include rule(padding, (xl: 15px 0, lg: 14px 0));
  @include rule(box-shadow, (lg: 0 9px 15px 0 rgba(black, .25)));

  $b: &;

  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 30px;
    font-size: 0;
    transition: transform $ease-main;

    &:hover {
      transform: rotate(30deg);
    }

    svg {
      @include rule(width, (xl: 45px, lg: 28px));
      @include rule(height, (xl: 45px, lg: 28px));
      @include rule(fill, (xl: white, lg: $color-main));
    }
  }

  &__logo-text {
    font-size: 14px;
    line-height: 1;

    @include rule(display, (lg: none));
  }

  &__button {
    @include center-block;
    @include rule(display, (lg: none));
  }

  &__right {

  }

  &__link {
    font-size: 14px;
    line-height: 1;

    &:hover {
      text-decoration: underline;
    }

    @include rule(display, (lg: none));
  }

  &__burger-button {
    display: flex;
    width: 23px;
    height: 19px;
    flex-direction: column;
    justify-content: space-between;

    &::before, &::after, span {
      height: 3px;
      width: 100%;
      background: $color-main;
      border-radius: 100px;
      display: block;
    }

    &::before, &::after {
      content: '';
    }
  }
}
