.card-radio {
  display: block;

  $b: &;

  &__input {
    display: none;
  }

  &__box {
    display: flex;
  }

  &__circle {
    width: 22px;
    height: 22px;
    border: 2px solid $color-main;
    border-radius: 50%;
    display: flex;
    position: relative;
    flex-shrink: 0;

    @include rule(margin-right, (xl: 13px, lg: 17px));

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 14px;
      height: 14px;
      background: $color-main;
      border-radius: 50%;
      opacity: 0;
      transition: opacity $ease-main;
    }

    #{$b}__input:checked + #{$b}__box & {

      &::after {
        opacity: 1;
      }
    }
  }

  &__content {
    flex: 1;
    padding-top: 3px;
  }

  &__name {
    @include rule(font-size, (xl: 16px, lg: 15px));

    line-height: 1.2;
    transition: color $ease-main;
    font-weight: 400;

    #{$b}__input:checked + #{$b}__box & {
      color: orange;
    }
  }

  &__links {
    margin-top: 12px;
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 14px;
    line-height: 1.2;
    color: $color-brown;
    transition: color $ease-main;

    &:hover {
      color: $color-main;
    }
  }
}
