extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Оплата заказа'

block content
  +steps(4)

  .container
    +section._payment
      +section-header
        +section-title Оплата заказа
        +section-subtitle Мы уверены в качестве услуг исполнителей и вернём полную стоимость заказа, если вас не устроит результат!

      +section-content
        +payment(1)

      +section-buttons
        +button()(href="#")._mid.__button ПРОДОЛЖИТЬ
        +e.A.arrow-link(href="#")
          +icon('arrow_left')
          span Назад
