.inputbox {
  display: block;

  &__label {
    @include rule(margin-bottom, (xl: 12px, lg: 9px));
    @include rule(font-size, (xl: 16px, lg: 18px));

    line-height: 1.2;
  }

  &__wrapper {
    position: relative;
  }
}
