.input {
  height: 50px;
  border: 1px solid lightgrey;
  width: 100%;
  box-sizing: border-box;
  line-height: 18px;
  border-radius: 3px;
  min-height: 0;
  background-color: white;
  transition: color $ease-main, border-color $ease-main;

  @include rule(padding, (xl: 0 9px, lg: 0 18px));
  @include rule(font-size, (xl: 14px, lg: 16px));

  &_login {
    padding: 0 17px;

    &::placeholder {
      color: rgba(#666, .5);
    }
  }

  &_phone {
    padding-left: 47px;
  }

  &::placeholder {
    transition: color $ease-main;
  }

  &.has-error {
    color: $color-red;

    &::placeholder {
      color: $color-red !important;
    }
  }
}

.textarea {
  @extend .input;

  @include rule(min-height, (xl: 50px, lg: 85px));

  padding-top: 13px;
  padding-bottom: 13px;
  resize: vertical;
  font-size: 14px;
}
