.input {
  height: 50px;
  border: 1px solid lightgrey;
  width: 100%;
  box-sizing: border-box;
  line-height: 18px;
  border-radius: 3px;
  min-height: 0;
  background-color: white;

  @include rule(padding, (xl: 0 9px, lg: 0 18px));
  @include rule(font-size, (xl: 14px, lg: 16px));
}

.textarea {
  @extend .input;

  padding-top: 13px;
  padding-bottom: 13px;
  min-height: 80px;
  resize: vertical;
  font-size: 14px;
}
