.cards {
  display: block;

  $b: &;

  &__content {

  }

  &__card {
    @include screen('lg', min) {
      width: 420px;
      height: 265px;
      border-radius: 15px;
      position: relative;
      box-sizing: border-box;

      &_left {
        z-index: 1;
        background-color: #ebebeb;
        box-shadow: 5px 5px 5px rgba(black, .15);
        padding: 26px 40px 0;
      }

      &_right {
        background-color: #ccc7c7;
        margin-left: 230px;
        margin-top: -210px;
        padding: 129px 50px 0 241px;

        &::before {
          content: '';
          position: absolute;
          top: 40px;
          left: 0;
          right: 0;
          height: 55px;
          background: #9c918f;
        }

        .input {
          width: 100px;
          height: 33px;
        }

        p {
          margin-top: 10px;
          font-size: 14px;
          line-height: 18px;
          color: #333;
        }
      }
    }

    &_left {
      @include screen('lg') {
        padding: 14px;
        background-color: #ebebeb;
        border-radius: 3px;
      }
    }
  }

  // Left

  &__grid {

  }

  &__images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;

    img {

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  .input {
    @include rule(height, (xl: 36px, lg: 50px));

    padding: 0 12px;
  }

  &__inputbox {

    .inputbox__label {
      margin-bottom: 9px;
      font-size: 14px;
      margin-top: 6px;
    }

    div {
      display: flex;
      justify-content: flex-start;

      .input {
        width: 85px;
      }

      .input:not(:first-child) {
        margin-left: 15px;
      }
    }
  }

  // Bottom

  &__warning {
    display: flex;

    @include rule(align-items, (xl: center, lg: flex-start));
    @include rule(margin-top, (xl: 26px, lg: 16px));
    @include rule(padding, (xl: 0 30px 0 17px, lg: 0));

    img {
      flex-shrink: 0;

      @include rule(width, (xl: 19px, lg: 27px));
      @include rule(margin-top, (lg: 5px));

      margin-right: 17px;
    }

    span {
      @include rule(font-size, (xl: 13px, lg: 14px));
      @include rule(line-height, (xl: 1.4, lg: 16px));
      @include rule(color, (xl: $color-brown-light-5, lg: $color-brown));

      flex: 1;
    }
  }

  // Type 2

  &__choose {
    @include rule(font-size, (xl: 18px, lg: 16px));
    @include rule(padding, (xl: 0 30px, lg: 0));

    line-height: 1.2;
  }

  &__radios {
    @include rule(margin-top, (xl: 13px, lg: 14px));
  }

  &__radio {
    @include rule(padding, (xl: 13px 35px, lg: 15px 0 13px));

    border-top: 1px solid #eeecec;

    &:last-child {
      border-bottom: 1px solid #eeecec;
    }
  }

  &__or {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    margin-top: 6px;
  }

  &__button {
    width: 100%;
    margin-top: 9px;
    height: 60px;
    line-height: 58px;
  }
}
