extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Попробуйте Welny+'

block content
  .container
    +section._mobile
      +section-header
        +section-title Попробуйте Welny+!

      +section-content
        +advantages(getData('advantages').welnyPlus)._mobile

      +section-buttons
        +e.P.buttons-text <span>Оформите подписку</span> во время вашего заказа!
        +button()(href="#").__button Заказать
