extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Карта верстки'

block content
  +b.sitemap
    .container
      +e.A.link(href="ui-kit.html") UI-kit (ui-kit.html)
      +e.A.link(href="welnyplus.html") Попробуйте Welny+ (welnyplus.html)
      +e.A.link(href="bill.html") Чек (bill.html)
      +e.A.link(href="add-review.html") Оставить отзыв (add-review.html)
      +e.A.link(href="popup.html") Попап сотрудника (popup.html)
      +e.A.link(href="account.html")
        strike Личный кабинет (account.html)
      +e.A.link(href="account-page-two.html")
        strike Личный кабинет (2) (account-page-two.html)
      +e.A.link(href="step-1.html") 1. Массаж для одного (step-1.html)
      +e.A.link(href="step-1-two-people.html") 1. Массаж для двоих (step-1-two-people.html)
      +e.A.link(href="step-1-parameters-1.html") 1. Массаж для одного (параметры) (step-1-parameters-1.html)
      +e.A.link(href="step-1-parameters-two-people.html") 1. Массаж для двоих (параметры) (step-1-parameters-two-people.html)
      +e.A.link(href="step-2.html") 2. Выбор времени (step-2.html)
      +e.A.link(href="step-3.html") 3. Укажите адрес (step-3.html)
      +e.A.link(href="step-3-address.html") 3. Новый адрес (step-3-address.html)
      +e.A.link(href="step-4.html") 4. Выбор подписки (step-4.html)
      +e.A.link(href="step-4-payment.html") 4. Оплата заказа (step-4-payment.html)
      +e.A.link(href="step-4-payment-two-people.html") 4. Оплата заказа для двоих (step-4-payment-two-people.html)
      br
      br
      +e.A.link(href="index.html") [Mobile] Главная (index.html)
      +e.A.link(href="welnyplus-mobile.html") [Mobile] Попробуйте Welny+ (welnyplus-mobile.html)
      +e.A.link(href="thankyou.html") [Mobile] Спасибо, что пользуетесь Welny (thankyou.html)
      +e.A.link(href="invite.html") [Mobile] Пригласить друзей (invite.html)
      +e.A.link(href="account-mobile.html") [Mobile] Аккаунт (account-mobile.html)
      +e.A.link(href="orders.html")
        strike [Mobile] Заказы (orders.html)
      +e.A.link(href="burger.html") [Mobile] Бургер-меню (burger.html)
