extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Карта верстки'

block content
  +b.sitemap
    .container
      +e.A.link(href="ui-kit.html") UI-kit (ui-kit.html)
      +e.A.link(href="welnyplus.html") Попробуйте Welny+ (welnyplus.html)
      +e.A.link(href="bill.html") Чек (bill.html)
      +e.A.link(href="add-review.html") Оставить отзыв (add-review.html)
      +e.A.link(href="popup.html") Попап сотрудника (popup.html)
      // +e.A.link(href="account.html") Личный кабинет (account.html)
      // +e.A.link(href="account-page-two.html") Личный кабинет (2) (account-page-two.html)
      +e.A.link(href="step-1.html") 1. Массаж для одного (step-1.html)
      +e.A.link(href="step-1-two-people.html") 1. Массаж для двоих (step-1-two-people.html)
      +e.A.link(href="step-1-parameters-1.html") 1. Массаж для одного (параметры) (step-1-parameters-1.html)
      +e.A.link(href="step-1-parameters-two-people.html") 1. Массаж для двоих (параметры) (step-1-parameters-two-people.html)
      +e.A.link(href="step-2.html") 2. Выбор времени (step-2.html)
      +e.A.link(href="step-3.html") 3. Укажите адрес (step-3.html)
      +e.A.link(href="step-3-address.html") 3. Новый адрес (step-3-address.html)
      +e.A.link(href="step-4.html") 4. Выбор подписки (step-4.html)
      +e.A.link(href="step-4-payment.html") 4. Оплата заказа (step-4-payment.html)
      +e.A.link(href="step-4-payment-two-people.html") 4. Оплата заказа для двоих (step-4-payment-two-people.html)
      br
      br
      +e.A.link(href="index.html") [Mobile] Главная (index.html)
      br
      br
      +e.A.link(href="thankyou.html") Спасибо, что пользуетесь Welny (thankyou.html)
      +e.A.link(href="welnyplus-mobile.html") Попробуйте Welny+ (welnyplus-mobile.html)
      +e.A.link(href="account-mobile.html") Аккаунт (account-mobile.html)
      +e.A.link(href="invite.html") Пригласить друзей (invite.html)
      +e.A.link(href="orders.html") Заказы (orders.html)
      +e.A.link(href="burger.html") Бургер-меню (burger.html)
      br
      br
      +e.A.link(href="buttons.html") Демонстрация кнопок (buttons.html)
      +e.A.link(href="popup_payment.html") Порядок оплаты (popup_payment.html)
      +e.A.link(href="login.html") Авторизация (login.html)
      +e.A.link(href="confirm.html") Подтверждение (confirm.html)
      +e.A.link(href="confirm_error.html") Подтверждение (ошибка) (confirm_error.html)
      br
      br
      +e.A.link(href="registration_final.html") Завершение регистрации (registration_final.html)
      +e.A.link(href="account_update.html") Обновить аккаунт (account_update.html)
