extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Карта верстки'

block content
  +b.sitemap
    .container
      +e.A.link(href="ui-kit.html") UI-kit (ui-kit.html)
      +e.A.link(href="index.html") Страница index (index.html)
      +e.A.link(href="welnyplus.html") Попробуйте Welny+ (welnyplus.html)
      +e.A.link(href="bill.html") Чек (bill.html)
      +e.A.link(href="step-1.html") 1. Массаж для одного (step-1.html)
      +e.A.link(href="step-1-two-people.html") 1. Массаж для двоих (step-1-two-people.html)
      +e.A.link(href="step-1-parameters-1.html") 1. Массаж для одного (параметры) (step-1-parameters-1.html)
      +e.A.link(href="step-1-parameters-two-people.html") 1. Массаж для двоих (параметры) (step-1-parameters-two-people.html)
      +e.A.link(href="step-2.html") 2. Выбор времени (step-2.html)
      +e.A.link(href="step-3.html") 3. Укажите адрес (step-3.html)
      +e.A.link(href="step-3-address.html") 3. Новый адрес (step-3-address.html)
