@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  @include rule(padding-left, (xl: $container-padding, lg: 10px));
  @include rule(padding-right, (xl: $container-padding, lg: 10px));

  width: $container-width;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;
}

@each $i in ('xl', 'lg', 'md', 'sm', 'xs') {

  .hide-#{$i} {
    @include screen(#{$i}) {
      display: none;
    }
  }
}

@each $i in ('xl', 'lg', 'md', 'sm', 'xs') {

  .show-#{$i} {
    @include screen(#{$i}, min) {
      display: none;
    }
  }
}

body {
  background-color: #28201d;
  background-size: cover;
  font-weight: 300;
  color: $color-brown;

  @include rule(background-image, (xl: url('../images/bg.jpg'), lg: url('../images/bg_mobile.jpg')));
}

.main {
  flex-grow: 1;

  @include rule(padding, (xl: 20px 0, lg: 25px 0 45px));
}
