.orders {
  display: block;

  $b: &;

  &__section-title {
    line-height: 1.2;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 17px;
    color: white;
    padding: 0 16px;
  }

  &__section {

    & + & {
      margin-top: 26px;
    }
  }

  // Карточки
  // Head

  &__item {
    position: relative;
    border-radius: 5px;
    background: white;
    padding: 16px 18px 18px;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &.is-active {
      z-index: 5;
    }
  }

  &__head {
    box-sizing: border-box;
    position: relative;
    z-index: 2;

    > *:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__date {
    font-size: 16px;
    color: $color-brown;
    width: 100%;
    line-height: 1;
  }

  &__description {
    font-size: 16px;
    color: $color-brown;
    line-height: 1;
    flex-shrink: 0;
  }

  &__status {
    font-size: 16px;
    text-align: left;
    color: $color-main;
    line-height: 1;
    flex: 1;
    padding-right: 33px;
    position: relative;
    cursor: pointer;
    transition: opacity $ease-main;
    display: block;
    box-sizing: border-box;
    width: 100%;

    &:hover {
      opacity: .5;
    }

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 5px;
      right: 0;
      top: 3px;
      bottom: 0;
      margin: auto;
      transition: transform $ease-main;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('../images/arrow_accordion_mobile.svg');
    }

    #{$b}__item.is-finished & {
      color: #b0b0b0;

      &::after {
        background-image: url('../images/arrow_accordion_mobile_grey.svg');
      }
    }

    #{$b}__item.is-active & {

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  // Popup

  &__popup {
    background: white;
    display: none;
    padding: 18px 0 0;

    #{$b}__item.is-active & {
      display: block;
    }
  }

  &__orders-wrap {
    width: 100%;
    flex-shrink: 0;
  }

  &__orders {
    align-items: flex-end;
    display: block;
    padding-top: 16px;
    border-top: 1px solid #d5d0cf;
  }

  &__order {

    &:not(:first-child) {
      margin-top: 14px;
    }

    > *:not(:first-child) {
      margin-left: 0;
      margin-top: 12px;
    }
  }

  &__type {
    line-height: 1.2;
    font-size: 16px;
    color: $color-brown;
    width: 100%;
  }

  &__man {
    display: flex;
    align-items: center;
    width: 100%;

    &[href] {
      color: $color-main;
      transition: color $ease-main;
      text-decoration: underline;

      &:hover {
        color: $color-main-light;
      }
    }

    svg {
      width: 17px;
      margin-right: 7px;
      height: 22px;
      flex-shrink: 0;
      stroke: $color-main;
      fill: none;
      stroke-width: 4px;
    }

    span {
      font-size: 16px;
      line-height: 1.2;
    }
  }

  &__no-man {
    font-size: 16px;
    line-height: 1.2;
    color: $color-main;
  }

  &__place {
    color: $color-brown;
    font-size: 16px;
    margin-left: 0;
    margin-top: 14px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    flex: 1;

    svg {
      width: 17px;
      height: 22px;
      flex-shrink: 0;
      margin-right: 7px;
      fill: $color-main;
    }

    span {

    }
  }

  &__final {
    border-top: 1px solid #d5d0cf;
    padding-bottom: 19px;
    display: flex;
    align-items: center;

    @include rule(padding-top, (xl: 12px));
    @include rule(margin-top, (xl: 16px));
    @include rule(flex-wrap, (xl: wrap));
  }

  &__total {
    @include rule(color, (xl: $color-brown));
    @include rule(font-size, (xl: 16px));

    line-height: 1.2;

    @include rule(font-weight, (xl: 500));
    @include rule(width, (xl: auto));
    @include rule(margin-right, (xl: auto));
  }

  &__price {
    line-height: 1.2;
    color: $color-main;

    @include rule(font-weight, (xl: 500));
    @include rule(font-size, (xl: 16px));
    @include rule(width, (xl: auto));
  }

  &__bill {
    display: flex;
    align-items: center;
    color: $color-main;
    transition: color $ease-main;

    @include rule(width, (xl: 100%));
    @include rule(margin-top, (xl: 16px));

    &:hover {
      color: $color-main-light;
    }

    svg {
      width: 17px;
      height: 18px;
      flex-shrink: 0;
      stroke: $color-main;
      fill: none;
      stroke-width: 20px;

      @include rule(margin-right, (xl: 7px));
    }

    span {
      @include rule(font-size, (xl: 16px));

      line-height: 1.2;
      text-decoration: underline;
    }
  }

  &__button {
    @include rule(margin, (xl: 20px 0 0));

    font-size: 0;

    .button {
      width: 100%;
      font-size: 16px;
      height: 50px;
    }
  }
}
