mixin massage-card(data)
  +b.massage-card&attributes(attributes)
    +e.image
      img(src=data.image, alt=data.text)
    +e.P.text!= data.text

mixin ui-kit-massage-card()
  +ui-section
    +ui-section-head
      +ui-title Карточка массажа
      +ui-path
        p Компонент: components/massage-card/massage-card

    +ui-section-content()
      +massage-card(getData('cards')[0])

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
