.footer {
  display: block;
  color: white;

  @include rule(background, (xl: $color-brown, lg: $color-brown-1));
  @include rule(padding, (xl: 22px 0, lg: 19px 0 17px));
  @include rule(box-shadow, (lg: 0x 3px 40px 0px rgba(black, 0.45)));


  $b: &;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include rule(margin-top, (lg: -5px));
  }

  &__item {
    font-size: 14px;
    line-height: 1.2;
    box-sizing: border-box;

    @include rule(padding-left, (lg: 15px));
    @include rule(width, (lg: 50%));
    @include rule(margin-top, (lg: 5px));

    &:not(:first-child) {
      @include screen('lg', min) {
        &::before {
          content: '.';
          width: 30px;
          text-align: center;
          display: inline-block;
        }
      }
    }
  }

  &__link {
    transition: color $ease-main;

    &:hover {
      color: $color-main;
    }
  }

  &__socials {
    @include rule(display, (xl: none, lg: flex));

    align-items: center;
    justify-content: center;
    font-size: 0;

    &:not(:first-child) {
      margin-top: 21px;
    }
  }

  &__social {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid $color-main;
    position: relative;

    svg {
      width: 10px;
      height: 10px;
      fill: $color-main;

      @include center-image;
    }

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__copyright {
    @include rule(display, (xl: none, lg: block));

    padding-top: 10px;
    border-top: 1px solid $color-brown-light-1;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    color: $color-brown-light;

    &:not(:first-child) {
      margin-top: 17px;
    }
  }
}
