extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Попробуйте Welny+'

block content
  +steps(1)

  .container
    +section
      +section-header
        +section-title Попробуйте Welny+!
        +section-subtitle Оформите подписку во время вашего заказа!

      +section-content
        +advantages(getData('advantages').welnyPlus)

      +section-buttons
        +button()(href="#")._mid.__button ПРОДОЛЖИТЬ
        +e.A.arrow-link(href="#")
          +icon('arrow_left')
          span Назад

