.account-page {
  display: flex;

  $b: &;

  // Left

  &__left {
    width: 281px;
    flex-shrink: 0;
    margin-right: 44px;
    margin-top: 8px;
  }

  &__subscription-title {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 20px;
    padding: 0 30px;
    color: #666666;
  }

  &__about {

    &:not(:first-child) {
      margin-top: 11px;
    }
  }

  &__button {
    width: 100%;
    margin-top: 27px;
  }

  &__invite {

    &:not(:first-child) {
      margin-top: 23px;
    }
  }

  &__invite-button {
    width: 100%;
  }

  &__invite-text {
    font-size: 14px;
    color: #666666;
    text-align: center;
    line-height: 16px;
    margin-top: 15px;

    span {
      color: $color-main;
    }
  }

  // Right

  &__right {
    flex: 1;
  }

  &__title {
    font-size: 26px;
    line-height: 1.2;
  }

  &__text {
    font-size: 15px;
    line-height: 24px;
    color: #666666;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  &__orders {

    &:not(:first-child) {
      margin-top: 47px;
    }
  }
}
