.add-review {
  display: block;

  $b: &;

  &__sections {
    @include rule(padding, (xl: 0 30px, lg: 0));
  }

  &__section {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 41px, lg: 10px));
    }

    &_accordion {
      @include screen('lg') {
        background: white;
        border-radius: 3px;
        padding: 15px 15px 17px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 10px;
          height: 5px;
          right: 15px;
          top: 26px;
          transition: transform $ease-main;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('../images/arrow_accordion_mobile.svg');
        }

        &.is-active {

          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__title {
    @include rule(font-size, (xl: 18px, lg: 20px));

    line-height: 1.2;
    font-weight: 700;
    color: $color-main;
  }

  &__subtitle {
    font-size: 14px;
    margin-top: 3px;
    line-height: 1.2;
    color: $color-brown-3;
  }

  &__grid {
    @include rule(margin, (lg: 0));
  }

  &__col {
    flex-direction: column;
    align-items: flex-start;

    @include screen('lg') {
      align-items: center;
      background: white;
      border-radius: 5px;
      padding: 14px 16px 20px;
      text-align: center;

      &:not(:first-child) {
        margin-top: 10px;
      }

      #{$b}__section_accordion & {
        padding: 14px 0 0;
        border-top: 1px solid #d5d0cf;
        border-radius: 0;

        &:not(:first-child) {
          margin-top: 0;
        }

        &:not(:last-child) {
          padding-bottom: 19px;
        }
      }
    }
  }

  &__items {

    &:not(:first-child) {
      margin-top: 16px;
    }

    #{$b}__section_accordion:not(.is-active) & {
      @include rule(display, (lg: none));
    }
  }

  &__question {
    @include rule(font-size, (xl: 13px, lg: 18px));
    @include rule(line-height, (xl: 14px, lg: 24px));
    @include rule(font-weight, (lg: 400));

    flex-grow: 1;
    color: $color-brown-light-3;
    width: 100%;
  }

  &__rating {
    @include rule(margin-top, (xl: 13px, lg: 16px));
  }

  &__comment {
    @include rule(margin-top, (xl: 44px, lg: 10px));

    @include screen('lg') {
      background: white;
      border-radius: 3px;
      padding: 15px;
      text-align: center;
    }
  }

  &__comment-title {
    @include rule(padding, (xl: 0 30px, lg: 0 10px));
    @include rule(font-size, (xl: 13px, lg: 20px));
    @include rule(margin-bottom, (xl: 9px, lg: 27px));
    @include rule(font-weight, (lg: 400));

    color: $color-brown-light-3;
    line-height: 1.2;
  }

  &__textarea {
    border-radius: 10px;
    resize: none;
    height: 80px;
    min-height: 0;
    padding: 11px 29px;

    @include screen('lg') {
      height: 30px;
      font-size: 14px;
      line-height: 20px;
      border: 0;
      padding: 0;
      border-bottom: 1px solid lightgray;
      border-radius: 0;
    }
  }
}
