.payment {
  display: block;

  $b: &;

  // Сетка

  &__grid {
    display: flex;
    flex-wrap: wrap;

    @include rule(margin-top, (xl: 63px, lg: 12px));
    @include rule(padding, (xl: 0 10px, lg: 0));
    @include rule(flex-direction, (lg: column));
  }

  &__col {
    @include rule(padding, (xl: 0 20px, lg: 0));
    @include rule(width, (xl: 50%, lg: 100%));

    box-sizing: border-box;

    &_table {
      @include rule(order, (lg: -5));
    }

    &_total {
      align-self: center;

      @include rule(order, (lg: -3));
    }

    &_promocode {
      @include rule(margin-top, (lg: 16px));
    }

    &_warning {
      align-self: center;

      @include rule(margin-top, (lg: 16px));
    }
  }

  &__table-col {

  }

  &__table {
    margin-top: -10px;
    width: 100%;
    line-height: 1.2;
    color: $color-brown-light-3;

    @include rule(font-size, (xl: 15px, lg: 16px));

    td {
      padding-top: 10px;

      &:last-child {
        text-align: right;
        font-weight: 400;
      }
    }
  }

  &__promocode {

  }

  &__hr {
    min-width: 100%;
    border: 0;
    height: 1px;
    background: #d5d0cf;

    @include rule(margin, (xl: 32px -10px 30px, lg: 16px 0));
    @include rule(order, (lg: -4));
  }

  &__total {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 20px;

      &:first-child {

      }

      &:last-child {

      }
    }
  }

  &__warning {
    display: flex;

    @include rule(color, (xl: $color-brown-light-5, lg: $color-brown));
    @include rule(align-items, (xl: center, lg: flex-start));

    svg {
      width: 27px;
      height: 27px;
      flex-shrink: 0;
      stroke: $color-main;
      fill: none;

      @include rule(margin-right, (xl: 12px, lg: 17px));
      @include rule(margin-top, (lg: 8px));
    }

    span {
      font-size: 14px;
      line-height: 18px;

      a {
        color: $color-main;
        transition: color $ease-main;

        &:hover {
          color: $color-main-light;
        }
      }
    }
  }

  // Карты

  &__cards {
    @include rule(margin-top, (xl: 65px, lg: 30px));
  }
}
