.steps {
  display: block;
  color: white;
  text-align: center;

  @include rule(margin-top, (xl: 21px, lg: -5px));
  @include rule(margin-bottom, (xl: 33px, lg: 18px));

  $b: &;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -30px;
  }

  &__item {
    @include rule(width, (xl: 99px, lg: 76px));
  }

  &__number-wrap {
    display: flex;
    align-items: center;

    &::before, &::after {
      content: '';
      height: 2px;
      flex-grow: 1;

      @include rule(background, (xl: $color-brown));
    }

    #{$b}__item:first-child &::before, #{$b}__item:last-child &::after {
      opacity: 0;
    }
  }

  &__number {
    @include rule(width, (xl: 34px, lg: 26px));
    @include rule(height, (xl: 34px, lg: 26px));
    @include rule(line-height, (xl: 34px, lg: 26px));
    @include rule(font-size, (xl: 15px, lg: 14px));

    border-radius: 50%;
    background: #888;

    #{$b}__item.is-active & {
      @include rule(background, (xl: $color-main, lg: $color-main));
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.2;

    @include rule(margin-top, (xl: 9px, lg: 7px));
  }
}
