.details {
  display: block;

  $b: &;

  &__section {

    & + & {
      @include rule(margin-top, (xl: 26px, lg: 40px));
    }
  }

  &__title {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 21px;
  }

  &__content {
    @include rule(display, (xl: flex, lg: block));
  }

  &__left {
    @include rule(width, (xl: 185px, lg: 100%));
    @include rule(margin-right, (xl: 28px, lg: 0));

    flex-shrink: 0;

    .massage-card {
      @include rule(width, (lg: 176px));
      @include rule(margin, (lg: 0 auto));
    }
  }

  &__right {
    flex: 1;

    @include rule(margin-top, (lg: 25px));
  }

  &__comment {
    @include rule(margin-top, (lg: 26px));
  }

  &__subsection {

    & + & {
      @include rule(margin-top, (xl: 33px, lg: 26px));
    }
  }

  &__subtitle {
    @include rule(font-size, (xl: 16px, lg: 18px));
    @include rule(margin-bottom, (xl: 20px, lg: 16px));

    line-height: 1.2;
  }

  &__items {
    display: flex;
  }

  &__item {
    width: 33.333%;
    text-align: center;
    cursor: pointer;

    @include rule(flex, (lg: 1));

    &:not(:first-child) {
      @include rule(margin-left, (lg: 5px));
    }
  }

  &__input {
    display: none;

    &:checked + #{$b}__box {
      @include rule(box-shadow, (lg: 0 0 13px 0 rgba(0, 0, 0, .1)));

      #{$b}__text {
        @include rule(color, (lg: orange));
      }
    }
  }

  &__box {
    display: block;
    transition: box-shadow $ease-main;
    width: 100%;
    box-sizing: border-box;

    @include rule(border, (lg: 1px solid #eeeeee));
    @include rule(padding, (lg: 7px 5px 11px));
    @include rule(border-radius, (lg: 2px));
  }

  &__image {
    @include rule(height, (xl: 80px, lg: 43px));

    position: relative;
    display: block;

    img {
      @include center-image;

      max-width: 100%;
      max-height: 100%;
      transition: opacity $ease-main;

      &:first-child { opacity: 1; }
      &:last-child { opacity: 0; }
    }

    #{$b}__input:checked + #{$b}__box & {
      img:first-child { opacity: 0; }
      img:last-child { opacity: 1; }
    }
  }

  &__text {
    @include rule(margin-top, (xl: 8px, lg: 6px));

    line-height: 1.2;
    transition: color $ease-main;
    color: #aaa;
    font-size: 14px;

    #{$b}__input:checked + #{$b}__box & {
      color: $color-main;
    }
  }
}
