.slider {
  display: block;
  position: relative;

  @include rule(margin-left, (lg: -16px));
  @include rule(margin-right, (lg: -16px));

  $b: &;

  &__container {
    overflow: hidden;
    @include rule(margin, (xl: -10px 0, lg: -10px 0));
  }

  &__wrapper {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
  }

  &__slide {
    opacity: .5;
    transition: opacity $ease-main;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;

    @include rule(width, (xl: 33.3333%, lg: 200px));
    @include rule(padding, (xl: 10px, lg: 10px 5px));

    &.is-active {
      opacity: 1;
    }
  }

  &__arrow {
    position: absolute;
    width: 10px;
    height: 20px;
    background: black;
    top: 0;
    bottom: 0;
    font-size: 0;
    margin: auto;
    z-index: 5;

    svg {
      width: 100%;
      height: 100%;
    }

    &_prev {
      @include rule(left, (xl: 0, lg: 16px));

      svg {
        transform: rotate(180deg);
      }
    }

    &_next {
      @include rule(right, (xl: 0, lg: 16px));
    }
  }
}
