mixin slider()
  +b.slider&attributes(attributes)
    +e.arrow._prev
      img(src="assets/images/arrow_slider.png")

    +e.arrow._next
      img(src="assets/images/arrow_slider.png")

    +e.container
      +e.wrapper
        - var i = 0;
        each item in getData('cards')
          - i++;
          +e.slide(class=(i === 2 ? 'is-active' : false))
            +massage-card(item)

mixin ui-kit-slider()
  +ui-section
    +ui-section-head
      +ui-title Слайдер
      +ui-path
        p Компонент: components/slider/slider

    +ui-section-content()
      +slider

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
