extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | index'
  - var bodyClass = 'body_index';

block content
  .container
    +section._mobile._index
      +section-header
        +section-title Добро пожаловать!
        +section-subtitle Хотите восстановить силы и избавиться от усталости?
      +section-content
        +e.IMG.index-image(src="assets/images/index.png" alt="@@")
      +section-buttons
        +button()(href="#")._mid.__button Сделать заказ
