.subscription {
  display: block;
  background: white;
  border-radius: 5px;
  padding: 12px 15px 36px;
  color: $color-brown;

  // @include screen('lg', min) {
  //   background: #fdf9f4;
  //   padding: 21px 20px 20px 12px;
  //   border-radius: 10px;
  // }

  $b: &;

  &__row {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 26px;

      // @include screen('lg', min) {
      //   margin-top: 14px;
      // }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $color-main;
    flex-shrink: 0;
    margin-right: 14px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 1.2;
    flex: 1;

    // @include screen('lg', min) {
    //   font-size: 14px;
    //   color: #431d15;
    // }
  }

  &__value {
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;

    // @include screen('lg', min) {
    //   font-size: 14px;
    //   color: #2d140d;
    // }
  }
}
