.is-loading {

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../images/rolling.svg');
    background-size: 20px 20px;
    background-color: rgba($color-brown, .3);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.button {
  display: inline-block;
  padding: 0 15px;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: $color-main;
  transition: background-color $ease-main, opacity $ease-main, color $ease-main;
  cursor: pointer;
  font-size: 14px;
  line-height: 38px;
  height: 38px;
  color: white;
  appearance: none;
  border-radius: 5px;
  text-align: center;
  position: relative;

  $b: &;

  &.is-loading {
    color: transparent;

    &::after {
      background-color: transparent;
    }
  }

  &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }

  &_mid {
    @include rule(height, (xl: 46px, lg: 50px));
    @include rule(line-height, (xl: 46px, lg: 50px));
    @include rule(font-size, (lg: 16px));
  }

  &_big {
    @include rule(height, (xl: 72px, lg: 60px));
    @include rule(line-height, (xl: 70px, lg: 58px));

    font-size: 16px;
  }

  &_dashed {
    border: 1px dashed $color-main;
    color: $color-main;
    background: transparent !important;

    &:hover {
      opacity: .7;
    }
  }

  &:hover {
    background-color: $color-main-light;
  }
}

