.button {
  display: inline-block;
  padding: 0 15px;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: $color-main;
  transition: background-color $ease-main, opacity $ease-main;
  cursor: pointer;
  font-size: 14px;
  line-height: 38px;
  height: 38px;
  color: white;
  appearance: none;
  border-radius: 5px;
  text-align: center;

  $b: &;

  &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }

  &_mid {
    @include rule(height, (xl: 46px, lg: 50px));
    @include rule(line-height, (xl: 46px, lg: 50px));
    @include rule(font-size, (lg: 16px));
  }

  &_big {
    @include rule(height, (xl: 72px, lg: 60px));
    @include rule(line-height, (xl: 70px, lg: 58px));

    font-size: 16px;
  }

  &_dashed {
    border: 1px dashed $color-main;
    color: $color-main;
    background: transparent !important;

    &:hover {
      opacity: .7;
    }
  }

  &:hover {
    background-color: $color-main-light;
  }
}

