.invite-mobile {
  display: block;
  text-align: center;

  @include rule(padding, (lg: 0 10px));

  $b: &;

  &__image {
    width: 108px;
  }

  &__text {
    margin-top: 35px;
    font-size: 14px;
    line-height: 20px;
    color: white;

    span {
      color: $color-main;
      font-weight: 700;
    }
  }
}
