mixin invite-mobile()
  +b.invite-mobile&attributes(attributes)
    +e.IMG.image(src="assets/images/voucher.svg" alt="@@")
    +e.P.text Поделитесь промокодом с друзьями и каждый получит скидку <span>500 рублей</span> на их первый заказ

mixin ui-kit-invite-mobile()
  +ui-section
    +ui-section-head
      +ui-title Пригласить друзей (mobile)
      +ui-path
        p Компонент: components/invite-mobile/invite-mobile

    +ui-section-content()
      +invite-mobile

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
