extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Аккаунт'

block content
  .container
    +section._mobile
      +section-header
        +section-title Аккаунт

      +section-content
        +account
