extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Выбор подписки'

block content
  +steps(4)

  .container
    +section
      +section-header
        +section-title Любите массаж?
        +section-subtitle Оформите подписку Welny+ и экономьте до 20%!

      +section-content
        +subscriptions

      +section-buttons
        +button()(href="#")._mid.__button ПРОДОЛЖИТЬ
        +e.A.arrow-link(href="#")
          +icon('arrow_left')
          span Назад
