.bill {
  display: block;
  color: $color-brown-light-3;

  @include rule(font-size, (xl: 14px, lg: 11px));
  @include rule(line-height, (xl: 20px, lg: 18px));

  @include screen('lg') {
    padding: 20px;
    position: relative;
    border-radius: 5px 5px 0 0;
    background: white;
    font-size: 12px;
    margin-bottom: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 7px;
      top: 7px;
      right: 7px;
      bottom: 7px;
      border-radius: 2px;
      box-sizing: border-box;
      border: 1px solid $color-brown-light-4;
      pointer-events: none;
    }

    &::after {
      content: '';
      top: 100%;
      left: 0;
      right: 0;
      height: 10px;
      position: absolute;
      background-image: url('../images/bill_bg.png');
      background-size: 100% 100%;
    }
  }

  $b: &;

  td {
    @include rule(padding-top, (xl: 5px, lg: 2px));

    & + td {
      text-align: right;
    }
  }

  &__head {
    text-align: center;

    @include rule(font-size, (lg: 12px));
    @include rule(line-height, (lg: 17px));

    &_big {
      @include rule(font-size, (lg: 14px));
      @include rule(padding-top, (lg: 9px));
    }
  }

  &__stars {
    word-break: break-word;
    overflow: hidden;
    width: 100%;

    @include rule(margin-top, (xl: 5px, lg: 3px));
    @include rule(height, (xl: 18px, lg: 12px));
  }

  &__qr {
    text-align: center;
    font-size: 0;

    img {
      @include rule(margin-top, (xl: 18px, lg: 8px));
      @include rule(width, (xl: 105px, lg: 88px));
    }
  }
}
