.bill {
  display: block;
  font-size: 16px;
  line-height: 1.2;

  @include screen('lg') {
    padding: 20px;
    position: relative;
    border-radius: 5px 5px 0 0;
    background: white;
    font-size: 12px;
    margin-bottom: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 10px;
      top: 10px;
      right: 10px;
      bottom: 10px;
      border-radius: 2px;
      box-sizing: border-box;
      border: 1px solid black;
      pointer-events: none;
    }

    &::after {
      content: '';
      top: 100%;
      left: 0;
      right: 0;
      height: 10px;
      background: orange;
      position: absolute;
    }
  }

  $b: &;

  td {
    padding-top: 5px;

    & + td {
      text-align: right;
    }
  }

  &__head {
    text-align: center;
  }

  &__stars {
    word-break: break-word;
    overflow: hidden;
    width: 100%;

    @include rule(margin-top, (xl: 5px, lg: 3px));
    @include rule(height, (xl: 18px, lg: 12px));
  }

  &__qr {
    text-align: center;
    font-size: 0;

    img {
      margin-top: 30px;

      @include rule(width, (xl: 150px, lg: 100px));
    }
  }
}
