mixin bill()
  +b.bill&attributes(attributes)
    +e.TABLE.table(cellspacing="0" cellpadding="0")
      tr
        +e.TD.head(colspan="2") ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ВЕЛНИ"

      tr
        +e.TD.head(colspan="2") www.welny.ru

      tr
        +e.TD.head(colspan="2") ИНН: 9710022742

      tr
        td(colspan="2")
          +e.stars
            b **************************************************************************************************************************************************************************************************************

      tr
        +e.TD.head._big(colspan="2")
          b КАССОВЫЙ ЧЕК. ПРИХОД

      tr
        td(colspan="2")
          +e.stars
            b **************************************************************************************************************************************************************************************************************

      tr
        td 1. УСЛУГА SPA-МАССАЖА
        td 2490.0 Р * 1=2490.0 Р

      tr
        td <br>
        td <br>

      tr
        td ИТОГО:
        td 2490.0 Р

      tr
        td ЭЛЕКТРОННЫЕ
        td 2490.0 Р

      tr
        td(colspan="2")
          +e.stars **************************************************************************************************************************************************************************************************************

      tr
        td Время
        td 20.05.2019 16.30

      tr
        td Смена
        td 21

      tr
        td Чек за смену
        td 10

      tr
        td ККТ
        td 003072254041620

      tr
        td ФН
        td 9280440300052037

      tr
        td ФП
        td 3810958846

      tr
        td ФД
        td 91

      tr
        td СНО
        td УСН доход-расход

      tr
        td(colspan="2")
          +e.stars **************************************************************************************************************************************************************************************************************

      tr
        td Адрес получателя
        td +79264483388

      tr
        td Адрес отправителя
        td no-reply@ofd-yarus.ru

      tr
        td Сайт ФНС
        td www.nalog.ru

      tr
        +e.TD.qr(colspan="2")
          img(src="assets/images/qr.jpg" alt="")


mixin ui-kit-bill()
  +ui-section
    +ui-section-head
      +ui-title Чек
      +ui-path
        p Компонент: components/bill/bill

    +ui-section-content()
      +bill

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
