extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Параметры сеанса'

block content
  +steps(1)

  .container
    +section
      +section-header
        +section-title Параметры сеанса

      +section-content
        +parameters(1)

      +section-buttons
        +button()(href="#")._mid.__button ПРОДОЛЖИТЬ

