extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Чек'

block content
  .container
    +section._bill
      +section-content
        +bill

      +section-buttons
        +button()(href="#")._mid.__button ПРОДОЛЖИТЬ
        +e.A.arrow-link(href="#")
          +icon('arrow_left')
          span Назад
