.promocode {
  display: block;
  position: relative;

  $b: &;

  &__title {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 4px;
    color: $color-brown-light-3;

    @include rule(display, (lg: none));
  }

  &__form {
    @include rule(display, (xl: flex, lg: block));
  }

  &__input {
    width: 100%;
    flex: 1;

    @include rule(height, (xl: 33px, lg: 50px));
    @include rule(padding, (lg: 0 13px));

    @include screen('lg', min) {

      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__button {
    flex-shrink: 0;
    padding: 0 13px;
    display: flex;
    align-items: center;
    line-height: 1;
    text-align: center;
    justify-content: center;
    appearance: none;

    @include rule(height, (xl: 33px, lg: 50px));
    @include rule(font-size, (xl: 14px, lg: 15px));
    @include rule(margin-left, (xl: 6px, lg: 0));
    @include rule(margin-top, (lg: 20px));
    @include rule(width, (lg: 100%));
  }
}
