.rating {
  font-size: 0;
  display: inline-flex;
  flex-flow: row-reverse;
  position: relative;
  z-index: 5;

  $b: &;

  &__box {

    &:not(:first-child) {
      @include rule(margin-right, (xl: 7px, lg: 12px));
    }

    #{$b}_interactive & { cursor: pointer; }
  }

  &__control { display: none; }

  &__icon {
    fill: #dcdcdc;
    stroke: transaprent;
    transition: fill $ease-main;

    @include rule(width, (xl: 18px, lg: 30px));
    @include rule(height, (xl: 18px, lg: 30px));

    #{$b}_interactive #{$b}__box:hover &, #{$b}_interactive #{$b}__box:hover ~ #{$b}__box &, #{$b}__box.is-active &, #{$b}__box.is-active ~ #{$b}__box & {
      fill: $color-main;
    }
  }
}
