extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Выбор времени'

block content
  +steps(2)

  .container
    +section
      +section-header
        +section-title Выберите время

      +section-content
        +grid
          +col({xl: 6, lg: 12})
            +inputbox
              +label Дата
              +inputbox._calendar
                +input(type="text" name="date" placeholder="дд.мм.гггг")
                +calendar

          +col({xl: 6, lg: 12})
            +inputbox
              +label Время
              +select(name="time")
                option(value="15:00") 15:00
                option(value="18:00") 18:00

      +section-buttons
        +button()(href="#")._mid.__button ПРОДОЛЖИТЬ
        +e.A.arrow-link(href="#")
          +icon('arrow_left')
          span Назад
