.burger {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 270px;
  background: darkslategray;
  color: white;
  box-sizing: border-box;
  padding-top: 80px;
  z-index: 999;
  transition: opacity $ease-main, transform $ease-main;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  display: none;

  &.is-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  $b: &;

  &__overlay {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 150vw;
    background: rgba(black, .2);
  }

  &__close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 10px;
    background: white;
  }

  &__menu {

  }

  &__item {

  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
  }

  &__icon {
    width: 10px;
    height: 15px;
    background: white;
    flex-shrink: 0;
    margin-right: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 1;
  }
}
