.advantages {
  display: block;
  color: $color-brown-2;

  @include rule(padding, (xl: 0 20px 85px, lg: 0));

  &_account {
    padding-bottom: 0;
  }

  $b: &;

  &_mobile {
    color: white;

    span {
      color: orange;
    }
  }

  &__item {
    display: flex;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 25px, lg: 20px));
    }

    #{$b}_account & {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    fill: $color-main;

    &_stroke {
      fill: none;
      stroke: $color-main;
    }

    @include rule(margin-right, (xl: 28px, lg: 15px));

    #{$b}_mobile & {
      fill: white;
    }
  }

  &__text {
    @include rule(font-size, (xl: 14px, lg: 16px));
    @include rule(line-height, (xl: 25px, lg: 20px));
  }
}
