.addresses {
  display: block;
  color: $color-brown;

  $b: &;

  &__items {

  }

  &__item {
    @include rule(padding, (xl: 36px 0 27px 20px, lg: 16px 0));
    @include rule(border-top, (xl: 1px dotted rgba($color-main, .7), lg: 1px dotted #eeecec));

    display: block;
    cursor: pointer;

    &:last-child {
      @include rule(border-bottom, (lg: 1px dotted #eeecec));

      @include screen('lg', min) {
        padding-bottom: 0;
      }
    }
  }

  &__input {
    display: none;
  }

  &__box {
    display: block;
  }

  &__wrapper {
    @include rule(padding-left, (xl: 61px, lg: 45px));

    position: relative;
    display: block;
  }

  &__text {
    @include rule(font-size, (xl: 18px, lg: 16px));

    line-height: 1.2;
    transition: color $ease-main;

    #{$b}__input:checked + #{$b}__box & {
      color: $color-main;
    }
  }

  &__links {
    @include rule(margin-top, (xl: 14px, lg: 12px));

    display: flex;
  }

  &__link {
    font-size: 14px;
    line-height: 1.2;
    transition: color $ease-main;

    &:hover {
      color: $color-main;
    }

    &:not(:first-child) {
      @include rule(margin-left, (xl: 15px, lg: 26px));
    }
  }

  &__circle {
    position: absolute;
    left: 0;
    top: 0;

    @include rule(width, (xl: 25px, lg: 26px));
    @include rule(height, (xl: 25px, lg: 26px));
    @include rule(box-shadow, (xl: 0 0 0 3px $color-brown inset, lg: 0 0 0 2px $color-main inset));

    transition: box-shadow $ease-main;
    border-radius: 50%;

    &::after {
      content: '';
      transition: opacity $ease-main;
      opacity: 0;

      @include rule(width, (xl: 9px, lg: 14px));
      @include rule(height, (xl: 9px, lg: 14px));
      @include center-image;

      border-radius: 50%;
      background: $color-main;
    }

    #{$b}__input:checked ~ & {
      @include rule(box-shadow, (xl: 0 0 0 5px $color-main inset, lg: 0 0 0 2px $color-main inset));

      &::after {
        opacity: 1;
      }
    }
  }

  &__or {
    font-size: 16px;
    text-align: center;
    line-height: 1.2;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 20px, lg: 9px));
    }
  }

  &__button {
    width: 100%;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 22px, lg: 14px));
    }
  }
}
