include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/button/button
include ../blocks/form/form
include ../blocks/content-zone/content-zone
include ../components/header/header
include ../components/footer/footer
include ../components/burger/burger
include ../components/steps/steps
include ../components/section/section
include ../components/advantages/advantages
include ../components/parameters/parameters
include ../components/time/time
include ../components/tabs/tabs
include ../components/slider/slider
include ../components/massage-card/massage-card
include ../components/details/details
include ../components/addresses/addresses
include ../components/bill/bill
include ../components/subscriptions/subscriptions
include ../components/add-review/add-review
include ../components/rating/rating
include ../components/popup/popup
include ../components/payment/payment
include ../components/order-details/order-details
include ../components/promocode/promocode
include ../components/cards/cards
include ../components/card-radio/card-radio
include ../components/subscription/subscription
include ../components/invite-mobile/invite-mobile
include ../components/account/account
include ../components/account-page/account-page
include ../components/orders/orders