extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Попробуйте Welny+'

block content
  .container
    +section._mobile
      +section-header
        +section-title Спасибо, что пользуетесь Welny

      +section-content
        +subscription(getData('subscription').mobile)

      +section-buttons
        +button()(href="#")._mid.__button Заказать
