.time {
  display: block;

  $b: &;

  &__input {
    display: none;
  }

  &__box {
    @include rule(padding, (xl: 10px, lg: 5px));

    box-shadow: 0 5px 5px 0 rgba(black, .2);
    opacity: .5;
    transition: opacity $ease-main;
    text-align: center;
    display: block;
    cursor: pointer;
    border-radius: 5px;

    #{$b}__input:checked + & {
      opacity: 1;
      cursor: auto;
    }
  }

  &__image {
    height: 30px;
    width: 30px;
    background: black;
    display: inline-block;
  }

  &__text {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 10px;
    display: block;
  }
}
