mixin parameters(type)
  +b.parameters&attributes(attributes)
    +e.times
      +time('60 минут', true).__time
      +time('90 минут', false).__time
      +time('120 минут', false).__time

    +tabs.__tabs
      +tab(class=(type === 1 ? 'is-active' : false)) Для одного
      +tab(class=(type === 2 ? 'is-active' : false)) Для двоих

    +tabs-wrappers
      +tab-wrapper(class=(type === 1 ? 'is-active' : false))
        +e.section
          +slider

      +tab-wrapper(class=(type === 2 ? 'is-active' : false))
        +e.section
          +e.P.title Массаж для двоих: 1/2
          +slider

        +e.section
          +e.P.title Массаж для двоих: 2/2
          +slider

    +e.description Мы уверены в качестве услуг исполнителей и вернём полную стоимость заказа, если вас не устроит результат!

mixin ui-kit-parameters()
  +ui-section
    +ui-section-head
      +ui-title Параметры сеанса
      +ui-path
        p Компонент: components/parameters/parameters

    +ui-section-content()
      +parameters(1)

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
