.parameters {
  display: block;

  $b: &;

  &__times {
    display: flex;
  }

  &__time {
    flex: 1;

    &:not(:first-child) {
      @include rule(margin-left, (xl: 14px, lg: 5px));
    }
  }

  &__tabs {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 43px, lg: 27px));
    }
  }

  &__description {
    @include rule(padding, (xl: 15px 20px, lg: 11px 14px 14px));
    @include rule(font-size, (xl: 16px, lg: 14px));
    @include rule(border-radius, (xl: 10px, lg: 3px));
    @include rule(line-height, (xl: 22px, lg: 18px));

    border: 1px solid rgba($color-main, .3);
    color: $color-brown;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 40px, lg: 20px));
    }
  }

  &__section {

    & + & {
      @include rule(margin-top, (xl: 18px, lg: 23px));
    }
  }

  &__title {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 19px;
    color: $color-brown;
  }
}
