mixin section()
  +b.section&attributes(attributes)
    block

mixin section-header()
  +e.header&attributes(attributes)
    block

mixin section-title()
  +e.H1.title&attributes(attributes)
    block

mixin section-subtitle()
  +e.P.subtitle&attributes(attributes)
    block

mixin section-content()
  +e.content&attributes(attributes)
    block

mixin section-buttons()
  +e.buttons&attributes(attributes)
    block

mixin ui-kit-section()
  +ui-section
    +ui-section-head
      +ui-title Секция контента
      +ui-path
        p Компонент: components/section/section

    +ui-section-content()
      +section

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
