.section {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;

  @include rule(padding, (xl: 30px, lg: 16px));

  $b: &;

  &_bill {
    max-width: none;
    padding: 80px 120px 30px;

    @include screen('lg') {
      padding: 0;
      background: transparent;
      border-radius: 0;
    }
  }

  &__header {
    text-align: center;
  }

  &__title {
    @include rule(font-size, (xl: 24px, lg: 18px));

    line-height: 1.2;
  }

  &__subtitle {
    @include rule(font-size, (xl: 16px, lg: 14px));

    color: gray;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__content {
    &:not(:first-child) {
      @include rule(margin-top, (xl: 40px, lg: 20px));
    }
  }

  &__buttons {
    text-align: center;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 40px, lg: 20px));
    }
  }

  &__button {
    width: 100%;
  }

  &__arrow-link {
    display: block;
    width: 100%;
    font-size: 14px;

    #{$b}_bill & {
      @include screen('lg') {
        color: white;
      }
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}
