.section {
  display: block;
  margin: 0 auto;
  background: white;
  box-sizing: border-box;

  @include rule(max-width, (xl: 645px, lg: none));
  @include rule(border-radius, (xl: 15px, lg: 5px));
  @include rule(padding, (xl: 38px 35px 27px, lg: 10px 16px 16px));

  $b: &;

  &_bill {
    max-width: none;
    padding: 72px 214px 38px;
    margin: 0 -60px;

    @media (max-width: 1160px) {
      padding-left: 100px;
      padding-right: 100px;
      margin: 0;
    }

    @include screen('lg') {
      padding: 0;
      background: transparent;
      border-radius: 0;
    }
  }

  &_account {
    max-width: none;
    padding: 37px 50px 25px;
  }

  &_reviews {
    max-width: 770px;
    padding-left: 60px;
    padding-right: 60px;

    @include screen('lg') {
      padding: 0;
      background: transparent;
      border-radius: 0;
    }
  }

  &_mobile {
    padding: 0;
    background: transparent;
    min-height: calc(100vh - 77px);
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__index-image {
    position: absolute;
    top: 0;
    bottom: 10vh;
    margin: auto;
    left: -10px;
    right: -10px;
    animation: indexImage 1s ease 1s 1 forwards;
    pointer-events: none;

    @keyframes indexImage {
      0% { opacity: 1; transform: translate3d(0, 0, 0); }
      100% { opacity: 0; transform: translate3d(0, 50px, 0); }
    }
  }

  &__header {
    text-align: center;

    @keyframes header {
      0% { transform: translate3d(0, 0, 0); }
      100% { transform: translate3d(0, 20vh, 0); }
    }

    #{$b}_index & {
      position: absolute;
      left: 0;
      right: 0;
      top: 5vh;
      animation: header 1s ease 1s 1 forwards;
      z-index: 2;
    }
  }

  &__buttons-text {
    text-align: center;
    margin-bottom: 16px;
    color: white;
    font-size: 14px;
    line-height: 20px;

    span {
      display: block;
      color: $color-main;
    }
  }

  &__title {
    @include rule(font-size, (xl: 24px, lg: 20px));

    line-height: 1.5;
    color: $color-brown;

    #{$b}_mobile & {
      color: white;
    }

    #{$b}_index & {
      font-weight: 700;
    }

    #{$b}_reviews & {
      @include rule(color, (lg: white));

      @include screen('lg') {

        span {
          display: block;
          margin-top: 1px;
          font-size: 16px;
        }
      }
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 20px;
    color: #666;

    #{$b}_index & {
      opacity: 0;
      animation: subtitle 1s ease 1s 1 forwards;

      @keyframes subtitle {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
    }

    #{$b}_mobile & {
      color: white;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 11px, lg: 7px));
    }
  }

  &__content {

    #{$b}_mobile & {
      flex-grow: 1;
    }

    &_mobile-center {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 46px, lg: 23px));
    }
  }

  &__buttons {
    text-align: center;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 30px, lg: 27px));
    }
  }

  &__button {
    width: 100%;
  }

  &__arrow-link {
    @include rule(font-size, (xl: 12px, lg: 16px));

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 1;
    fill: $color-brown;
    color: $color-brown;
    transition: fill $ease-main, color $ease-main;

    &:hover {
      fill: $color-main;
      color: $color-main;
    }

    svg {
      @include rule(width, (xl: 10px, lg: 14px));
      @include rule(height, (xl: 6px, lg: 10px));
      @include rule(margin-right, (xl: 3px, lg: 11px));
    }

    #{$b}_bill &, #{$b}_reviews & {
      @include screen('lg') {
        color: white;
        fill: white;
      }
    }

    #{$b}_mobile & {
      color: white;
      fill: white;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 20px, lg: 17px));
    }
  }
}
