extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Пригласить друзей'

block content
  .container
    +section._mobile-only
      +section-header
        +section-title Пригласить друзей

      +section-content._mobile-center
        .account-page__invite.hide-lg
          +button('button')(type="button")._big._dashed.account-page__invite-button PRLJM
          p.account-page__invite-text Поделитесь промокодом с друзьями и каждый получит скидку <span>500 рублей</span> на их первый заказ!

        +invite-mobile.show-lg

      +section-buttons
        +button('button')(type="button")._mid.__button Скопировать код: PRLJM
